@media screen and (max-width : 1200px) {
   .contain {
      max-width: 900px;
   }
}

@media screen and (max-width : 992px) {
   .contain {
      max-width: 700px;
   }
}

@media screen and (max-width : 768px) {
   .contain {
      max-width: 500px;
   }
}

@media screen and (max-width : 576px) {
   .contain {
      max-width: none;
   }
}